{% extends "GSBCovoitBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block gsbcovoit_body %}

  <h2>Derniers trajets :</h2>

  {% for annonce in listAnnonces %}
  <div class="panel panel-info">
    {% if annonce.aller_ou_retour == TRUE %}
    <div class="panel-heading">
      <h4>GSB - {{ annonce.ville }} : <i>{{ annonce.date_trajet|date('d-m-Y') }} à {{ annonce.date_trajet|date('h:m:s') }}</i></h4>
    </div>
    {% else %}
    <div class="panel-heading">
      <h4>{{ annonce.ville }} - GSB : <i>{{ annonce.date_trajet|date('d-m-Y') }} à {{ annonce.date_trajet|date('h:m:s') }}</i></h4>
    </div>
    {% endif %}
    <div class="panel-body">
      <p>Type de véhicule utilisé : {{ annonce.type_vehicule }}</p>
      <p>Le conducteur {{ annonce.auteur }} précise :</p>
      <i><p>{{ annonce.commentaire }}</p></i>
      <a href="#" class="btn btn-primary">
          Réserver <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    </div>
  </div>
  {% endfor %}

{% endblock %}
