{% extends "GSBCovoitBundle::layout.html.twig" %}

{% block title %}
  {{ title }} - {{ parent() }}
{% endblock %}

{% block gsbcovoit_body %}

  {% if app.session.flashBag.has('success') %}
          <div class="alert alert-success">
              {% for msg in app.session.flashBag.get('success') %}
                  {{ msg }}
              {% endfor %}
          </div>
  {% endif %}

  <h2>{{ subtitle }}</h2>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="well lg-well" style="background-color: #b3b3b3">
        <h4 class="bg-info">Aller</h4>
        <h4 class="bg-warning">Retour</h4>
        <h4 class="bg-success">Mes trajets</h4>
      </div>
    </div>
  </div>

  {% for trajet in listTrajets %}

    {% if trajet.getAuteurId().getId() != currentUser.getId() %}
      {% if trajet.getAllerOuRetour() == TRUE %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>GSB - {{ trajet.getIdVille().getLibelle() }} : <i>{{ trajet.getDateTrajet()|date('d-m-Y') }} à {{ trajet.getHeureTrajet()|date('H:i:s') }}</i></h4>
        </div>
      {% elseif trajet.getAllerOuRetour() == FALSE %}
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4>{{ trajet.getIdVille().getLibelle() }} - GSB : <i>{{ trajet.getDateTrajet()|date('d-m-Y') }} à {{ trajet.getHeureTrajet()|date('H:i:s') }}</i></h4>
        </div>
      {% endif %}
    {% else %}
      {% if trajet.getAllerOuRetour() == TRUE %}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>GSB - {{ trajet.getIdVille().getLibelle() }} : <i>{{ trajet.getDateTrajet()|date('d-m-Y') }} à {{ trajet.getHeureTrajet()|date('H:i:s') }}</i></h4>
        </div>
      {% elseif trajet.getAllerOuRetour() == FALSE %}
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4>{{ trajet.getIdVille().getLibelle() }} - GSB : <i>{{ trajet.getDateTrajet()|date('d-m-Y') }} à {{ trajet.getHeureTrajet()|date('H:i:s') }}</i></h4>
        </div>
      {% endif %}
    {% endif %}
    <div class="panel-body">
      <p>Type de véhicule utilisé : {{ trajet.getIdTypeVehicule().getLibelle() }} ayant {{ trajet.getIdTypeVehicule().getNbPlaces() }} places au total.</p>
      <p>Le conducteur {{ trajet.getAuteurId().getPrenom() }} {{ trajet.getAuteurId().getNom() }} précise :</p>
      <i><p>{{ trajet.getCommentaire() }}</p></i>
      <a href="{{ path('gsb_covoit_trajet', {'id' : trajet.getId()}) }}" class="btn btn-primary">
          Réserver <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    </div>
  </div>
  {% endfor %}

{% endblock %}
